* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-container {
	max-width: 900px;
	margin: 20px auto 0;
    border: 2px solid #333;
    background: #fff;
}

.left-side {
    display: inline-block;
	width: 25%;
	background-color: #3a5e90;
    color: white;
    padding-left: 20px;
    line-height: 40px;
    
}
.right-side {
    display: inline-block;
	width: calc(75% - 6px);
	background-color: white;
    padding-left: 20px;
    color: black;
    line-height: 40px;

}
.avatar {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}
.image {
	display: block;
	width: 100%;
}
ul{
    list-style-type: none;
    line-height: 30px;
}
h2{
    font-size: 24px;
}
ol{
    line-height: 30px;
}
.place{
    font-style: italic;
}
span{
    display: inline-block;
    padding-left: 120px;
}
.menu li{
    display: inline-block;
    padding-left: 20px;
}
.entities{
    display: inline-block;
    padding-left: 200px;
}
