* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-container {
	max-width: 900px;
	margin: 20px auto 0;
	border: 2px solid #333;
	padding: 7px;
	background: #fff;
}

.left-side {
	display: inline-block;
	width: 25%;
	background-color: #3a5e90;
	color: white;
	padding-left: 20px;
	line-height: 40px;

}

.left-side li {
	font-size: 16px;
}

.left-side li a {
	color: white;
	text-decoration: none;
}

.right-side {
	font-size: 16px;
	display: inline-block;
	width: calc(75% - 6px);
	background-color: white;
	padding-left: 20px;
	color: black;
	line-height: 40px;

}

figure {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}

figure img {
	display: block;
	width: 100%;
}

ul {
	list-style-type: none;
	line-height: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

.menu li a {
	text-decoration: none;
	color: black;

}

.place {
	font-style: italic;
}

nav li {
	display: inline-block;
	padding-left: 20px;
}

.btn {
	display: block;
	width: 300px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.btn:hover {
	background: #000;
	color: #fff;
}
