* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.myblock{
    width: 400px;
    height: 200px;
    border: 3px solid black;
    border-radius: 7px;
    margin: 30px;
}
.lemon {
    width: 180px;
    height: 180px;
    margin: 10px;
    background: url(../img/grapefruit.png);
    background-size: contain;
    background-position: 50%;
    border-radius: 5px;
    float: left;
}

.about-lemon h3 {
    text-align: center;
    padding: 10px 0;
}
.about-lemon p {
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0;
}
