h1 {
     font-size: 48px;
     color: #97104f;
}
body {
    font-size: 24px;
    margin-left: 500px;
    max-width: 900px;
    padding: 40px;
    margin-top: 20px; 
}
caption {
    font-weight: bold;
}
img {
  width: 300px;
  height: 400px;
  margin-top: 20px; 

   display: block;
    margin-left: auto;
    margin-right: auto;
}
samp {
   text-decoration: underline;
}
h2 {
    font-size: 36px;
    color: #261572;
    text-align: center
}
ul {
    font-size: 24px;
}
b{
    font-weight: bold;
}
h1 {
    text-align: center
}



