h1 {
     font-size: 36px;
     text-align: center
}
body {
    font-size: 24px;
    margin-left: 500px;
    max-width: 900px;
    padding: 7px;
    margin-top: 20px;
    border: 2px solid black;
}

img {
  width: 300px;
  height: 400px;
  margin-top: 20px;
  display: block;
  padding-left: 300px;
}
span {
   text-decoration: underline;
}
h2 {
    font-size: 24px;
    color: #261572;
    text-align: center
}
ul {
    font-size: 16px;
}
ul li a{
     text-decoration: none;
}
a{
     display: block;
}









