h1 {
     font-size: 36px;
     text-align: center
}
body {
    font-size: 24px;
    margin-left: 500px;
    max-width: 900px;
    padding: 7px;
    margin-top: 40px;
    border: 2px solid black;
}

img {
  width: 300px;
  height: 400px;
  margin-top: 20px;
  display: block;
  padding-left: 300px;
}
span {
   text-decoration: underline;
}
h2 {
    font-size: 24px;
    color: #261572;
    text-align: center
}
ul{
     list-style-type: none;
}
ul li a{
     text-decoration: none;
     display: inline-block;
}
a{
     text-decoration: none;
}

table{
     border: 1px solid black;
     padding-left: 250px;
}
td{
     border: 1px solid black;
     text-align: center;
     padding: 20px;
}





























