h1{
    text-align: center;
    margin: 20px;
    position: disable;
}

h1::before, 
h1::after{
    display: inline-block;
    content: "";
    position: absolute;
    height: 5px;
    width: 200px;
    bottom: 8px;
    background-color: black;
}
 
