h1{
    text-align: center;
    margin: 20px;
}

h1::before, 
h1::after{
    display: inline-block;
    content: "";
    border: none;
    border-top: 5px solid black;
    width: 200px;
    padding-bottom: 6px;
}
 
